body{
    background-color: rgb(149, 149, 216);
}
table  {
    border: 2px solid rgb(0, 0, 0);
    table-layout: fixed;
    width: 100%;
    }
.center{
    margin-left: auto;
    margin-right: auto;
}
th{
    border: 2px solid black;
    }
td{
    border: 2px solid black;
}
