@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:wght@700&family=Poppins:ital,wght@0,100;0,300;0,400;1,100&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: #2E4052;
  overflow-y: scroll;
  font-family: 'Poppins', sans-serif;
}
*::-webkit-scrollbar {
  display: none;
}
