.main {
    --tw-text-opacity: 1;
    color: rgb(34 211 238 / var(--tw-text-opacity));
    --tw-text-opacity: 1;
    color: rgb(8 145 178 / var(--tw-text-opacity));
    cursor: pointer;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}