@media (max-width: 900px) {
    header {
      flex-direction: column;
    }
  
    header .img {
      display: none;
    }
    section h1 {
      font-size: 2rem;
      text-align: center;
    }
    section .text-container {
      flex-direction: column;
    }
    footer p{
      font-size: 10px;
    }
  }